<configuration>

    <appender name="STDOUT" class="io.symphonia.lambda.logging.DefaultConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %X{AWSRequestId:-" + NO_REQUEST_ID + "} %.-6level %logger{5} - %replace(%msg){'\n',''} \r%replace(%ex){'\n',''}%nopex%n</pattern>
        </encoder>
    </appender>

    <logger name="de.philippst.alexa" level="DEBUG"/>
    <logger name="com.amazon.api" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>